@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Orbitron:wght@400..900&family=Oxanium:wght@200..800&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(250, 250, 250, 1);

  color: rgba(17, 17, 17, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 48px;
  background: rgba(17, 17, 17, 1);
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: rgba(17, 17, 17, 1);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px 24px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  gap: 8px;
  background: rgba(17, 17, 17, 1);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Oxanium;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: none;
  color: rgba(253, 253, 253, 1);
  width: 190px;
  height: 45px;
  display: inline-block;
  border-width: 1px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}
.navigation__item-desk {
  font-family: Oxanium;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -2%;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: Auto;
  text-decoration-thickness: Auto;
  text-decoration-skip-ink: auto;
}
.navigation__link:hover,
.navigation__link:focus {
  text-decoration: none;
  border: 1px solid rgba(255, 218, 3, 1);
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 58px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 13px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    width: 150px;
    height: 42px;
    font-family: Oxanium;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -2%;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 774px;

  padding: 80px 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/home/heroPic.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title {
  font-family: Goldman;
  font-weight: 400;
  font-size: 70px;
  line-height: 70px;
  letter-spacing: -5%;
  text-align: center;
  color: rgba(250, 250, 250, 1);
  text-shadow: 0px 4px 4px rgba(17, 17, 17, 0.7);
}

.home-text {
  font-family: Orbitron;
  font-weight: 800;
  font-size: 20px;
  line-height: 25.08px;
  letter-spacing: 0%;
  text-align: center;

  color: rgba(250, 250, 250, 1);
  padding: 16px 57px 372px;
}
.home__google-button_link:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 900px;
    padding: 138px 0px 0px;
    background-image: url("/image/home/1_home.png");
  }
  .home__container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home-title {
    font-family: Goldman;
    font-weight: 400;
    font-size: 100px;
    line-height: 100px;
    letter-spacing: -5%;
  }

  .home-text {
    font-family: Orbitron;
    font-weight: 800;
    font-size: 24px;
    line-height: 30.1px;
    letter-spacing: 0%;

    padding: 8px 0 24px;
  }
}
.about {
  padding: 40px 16px;
  margin: auto;
  width: 375px;
}

.about-title {
  font-family: Orbitron;
  font-weight: 800;
  font-size: 24px;
  line-height: 30.1px;
  letter-spacing: 0%;
  border-bottom: 4px solid;
  text-indent: 16px;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, #4b4001 0%, #ffda03 100%);
  width: 355px;
  margin-left: -16px;
  padding-bottom: 8px;
}

.about-text {
  font-family: Oxanium;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0%;

  padding: 32px 0px 16px;
}
.about-img {
  width: 375px;
  height: 232px;
  margin-left: -16px;
}
.about-text-bold {
  font-family: Oxanium;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0%;
  padding-top: 16px;
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 80px 172px;
    margin: auto;
    width: 1440px;
  }

  .about-title {
    font-family: Orbitron;
    font-weight: 700;
    font-size: 32px;
    line-height: 24px;
    letter-spacing: 0%;

    border-bottom: 4px solid;
    text-indent: 172px;
    padding-bottom: 22px;
    width: 1268px;
    margin-left: -172px;
  }
  .about-div {
    display: flex;
    gap: 24px;
    padding-top: 40px;
    flex-wrap: wrap;
  }
  .about-text {
    font-family: Oxanium;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -2%;

    width: 648px;
    padding: 0;
  }
  .about-img {
    width: 424px;
    height: 288px;

    margin-left: 0px;
  }
  .about-text-bold {
    font-family: Oxanium;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -2%;
    width: 1096px;
    padding-top: 0px;
  }
}
.how {
  width: 375px;
  height: 1217px;
  margin: auto;
  padding: 40px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/how/3_howToPlay_mob.png");
}
.how-title {
  color: rgba(250, 250, 250, 1);
}
.how-list {
  padding: 138px 4px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.how-item {
  padding: 14px;
  background: rgba(17, 17, 17, 1);
  display: flex;
  align-items: end;
  gap: 14px;
}
.how-number {
  font-family: Oxanium;
  font-weight: 800;
  font-size: 80px;
  line-height: 64px;
  letter-spacing: -2%;
  color: rgba(232, 200, 6, 1);
}
.how-text-bold {
  font-family: Oxanium;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -2%;
  color: rgba(250, 250, 250, 1);
}
.how-text {
  font-family: Oxanium;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -2%;
  color: rgba(250, 250, 250, 1);
  padding-top: 8px;
}

@media screen and (min-width: 1200px) {
  .how {
    width: 1440px;
    height: 860px;
    padding: 80px 172px 0;
    background-image: url("/image/how/3_howToPlay.png");
  }

  .how-list {
    padding: 80px 0px 0;
    display: flex;
    flex-direction: column;
    width: 842px;
    margin: auto;
    gap: 16px;
  }
  .how-item {
    padding: 16px 12px;
    background: rgba(17, 17, 17, 1);
    display: flex;
    align-items: center;
    gap: 14px;
  }
}

.reviews {
  width: 375px;
  margin: auto;
  padding: 40px 16px 24px;
}

.reviews-list {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  width: 375px;
  margin-left: -16px;
  background: rgba(17, 17, 17, 1);
}

.reviews-text-bold {
  font-family: Oxanium;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -2%;
  color: rgba(255, 218, 3, 1);
}
.reviews-text {
  font-family: Oxanium;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -2%;
  color: rgba(250, 250, 250, 1);
  padding-top: 8px;
}
.reviews-item-three {
  display: none;
}
@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    padding: 80px 172px 60px;
  }

  .reviews-list {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 39px;
    padding: 40px 178px;
    width: 1440px;
    margin-left: -172px;
  }
  .reviews-item {
    width: 335px;
    height: 170px;
    padding: 8px;
  }
  .reviews-item-two {
    display: none;
  }
  .reviews-item-three {
    display: flex;
  }
}

.faq {
  padding: 40px 16px;
  margin: auto;
  width: 375px;
  background: rgba(85, 85, 85, 1);
}
.faq-container {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.faq-item {
  padding: 12px;
  background: rgba(250, 250, 250, 1);
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  font-family: Orbitron;
  font-weight: 800;
  font-size: 20px;
  line-height: 25.08px;
  letter-spacing: 0%;

  color: rgba(17, 17, 17, 1);
}

.toggle-button {
  background: none;
  border: none;

  cursor: pointer;
}

.faq-answer {
  display: none;
  padding-top: 12px;
  font-family: Oxanium;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0%;
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 80px 172px;
    width: 1440px;
  }
  .faq-container {
    padding-top: 40px;
  }

  .faq-item {
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
  }

  .faq-question {
    font-family: Orbitron;
    font-weight: 800;
    font-size: 24px;
    line-height: 30.1px;
    letter-spacing: 0%;
    text-align: center;
  }

  .faq-answer {
    font-family: Oxanium;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -2%;
  }
}
.gallery {
  width: 375px;
  margin: auto;
  background: rgba(85, 85, 85, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 16px;
}
.gallery__list .gallery__item {
  display: none;
}

.gallery__list .gallery__item.visible {
  display: block;
}

.gallery__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 32px;
  padding-bottom: 24px;
}
.gallery__item {
  width: 343px;
  height: 172px;
  overflow: hidden;
  position: relative;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.gallery-btn {
  margin: auto;
  font-family: Oxanium;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
  border: none;

  height: 45px;
  padding: 10px;
  border-bottom: 2px solid rgba(255, 218, 3, 1);
}
.gallery-lists {
  display: none;
}
@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;
    padding: 80px;
  }
  .gallery-title {
    margin-left: -80px;
  }

  .gallery__list {
    display: none;
  }
  .gallery-lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 40px;
    padding-bottom: 0px;
  }
  .gallery__item {
    width: 396px;
    height: 200px;
  }
  .gallery__item {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    display: inline-block;
  }

  .zoomed {
    transform: scale(3);
    position: relative;
    z-index: 2;
  }

  .gallery-btn {
    display: none;
  }
}
.features {
  width: 375px;
  height: 1529px;
  margin: auto;
  padding: 40px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/features/4_gameFeatures_mob.png");
}

.features-list {
  padding: 48px 16px 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.features-item {
  padding: 8px;
  background: rgba(250, 250, 250, 1);
}
.features-img {
  width: 311px;
  height: 150px;
}
.features-text-bold {
  font-family: Orbitron;
  font-weight: 800;
  font-size: 20px;
  line-height: 25.08px;
  letter-spacing: 0%;
}
.features-text {
  font-family: Oxanium;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0%;
  padding-top: 8px;
}
.features-item-three {
  display: none;
}
@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    height: 986px;

    padding: 80px 120px 0px;

    background-image: url("/image/features/4_gameFeatures.png");
  }
  .features-title {
    margin-left: -120px;
  }
  .features-list {
    padding: 0px 0px 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 680px;
    gap: 40px;
    margin-top: 80px;
  }
  .features-item {
    width: 360px;
    height: 198px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
  }
  .features-img {
    width: 400px;
    height: 200px;
  }
  .features-text-bold {
    font-family: Orbitron;
    font-weight: 800;
    font-size: 24px;
    line-height: 30.1px;
    letter-spacing: 0%;
  }
  .features-text {
    font-family: Oxanium;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -2%;
  }
  .features-item-two {
    display: none;
  }
  .features-item-three {
    display: flex;
  }
}
.footer {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/footer/8_footer_mob.png");
  width: 375px;
  height: 384px;
  margin: auto;
  padding: 32px 0px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 175px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 24px;
}
.footer-text {
  font-family: Oxanium;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: Auto;
  text-decoration-thickness: Auto;
  text-decoration-skip-ink: auto;

  text-decoration: none;
  color: rgba(250, 250, 250, 1);
}

.footer-copyright {
  font-family: Oxanium;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -2%;
  color: rgba(250, 250, 250, 1);
}

@media screen and (min-width: 1200px) {
  .footer {
    width: 1440px;
    height: 432px;
    padding: 40px 0px;
    background-image: url("/image/footer/8_footer.png");
  }
  .footer-container {
    gap: 298px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 80px;
  }
  .footer-text {
    font-family: Oxanium;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -2%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: Auto;
    text-decoration-thickness: Auto;
    text-decoration-skip-ink: auto;
  }

  .footer-copyright {
    font-family: Oxanium;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -2%;
  }
}
.policy-terms-container {
  padding: 88px 16px 40px;
}
.policy-terms-title {
  font-family: Orbitron;
  font-weight: 800;
  font-size: 24px;
  line-height: 30.1px;
  letter-spacing: 0%;
  border-bottom: 4px solid;
  text-indent: 16px;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, #4b4001 0%, #ffda03 100%);
  width: 355px;
  margin-left: -16px;
  padding-bottom: 8px;
}

.policy-terms-text {
  font-family: Orbitron;
  font-weight: 800;
  font-size: 20px;
  line-height: 25.08px;
  letter-spacing: 0%;

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Oxanium;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -2%;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Oxanium;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -2%;

  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Oxanium;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -2%;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;
  font-family: Oxanium;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -2%;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: #000;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    width: 1440px;

    margin: auto;
    padding: 120px 172px 40px;
  }
  .policy-terms-title {
    font-family: Orbitron;
    font-weight: 700;
    font-size: 32px;
    line-height: 24px;
    letter-spacing: 0%;

    border-bottom: 4px solid;
    text-indent: 172px;
    padding-bottom: 22px;
    width: 1268px;
    margin-left: -172px;
  }

  .policy-terms-text {
    font-family: Orbitron;
    font-weight: 800;
    font-size: 24px;
    line-height: 30.1px;
    letter-spacing: 0%;

    padding-top: 40px;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;

  padding: 40px 16px;
  background: rgba(85, 85, 85, 1);

  text-align: center;
  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Oxanium;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(250, 250, 250, 1);
}
.cookie-button-container {
  padding: 16px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.cookie-button {
  border: none;
  font-family: Oxanium;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -2%;
  text-align: center;
  color: rgba(250, 250, 250, 1);
  background-color: transparent;
  border-bottom: 2px solid rgba(255, 218, 3, 1);
  width: 149px;

  padding: 10px 0;
}
#accept-cookies {
  background: rgba(255, 218, 3, 1);

  color: rgba(17, 17, 17, 1);
  border-radius: 12px;
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-family: Oxanium;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -2%;
    text-align: center;
  }
  .cookie-button-container {
    margin: auto;
    padding-top: 16px;
    gap: 80px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;

    padding: 40px 50px;
    display: none;
  }
}
